<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <h1>About</h1>
        <p>The data provided is chosen from Kaggle.This link takes you to the data ('https://www.kaggle.com/datasets/tawfikelmetwally/employee-dataset').
            The dataset gives information on employees in a company.The data contains around 9 variables which are 'Education','Joining Year','City','Payment Tier','Age','Gender','Everbenched','Experience in current domain' 
            and,'Leave or not'.The first variable 'Education' shows the level of education obtained by  each individual such as bachelors , masters and PHD.'Joining Year' represents the year
             which each employee joined company and shows the length of services.'City' describes the location where each employee works.'Payment Tier' categorize employees into different salary bands.
             'Age' of each employees depicts demographic insights.'Gender' of employees promotes diversity analysis.'Everbenched' represents if an employee has ever been temporarily without assigned work.'ExperienceInCurrentDomain'
             indicates the number of years of experience that employees have in their current field.'Leave or Not' which shows a target column.

        </p>
    </body>
</html>